@font-face {
  font-family: Xiomara;
  src: url(../fonts/xiomara.ttf);
}
@font-face {
  font-family: CochinArchaic;
  src: url(../fonts/CochinArchaic.ttf);
}
@font-face {
  font-family: WindiRain;
  src: url(../fonts/WindiRain.otf);
}
@font-face {
  font-family: AzerothCyrillic;
  src: url(../fonts/AzerothCyrillic.ttf);
}
@font-face {
  font-family: GoodVibes;
  src: url(../../MyFonts/GoodVibes.ttf);
}
@font-face {
  font-family: Katherine;
  src: url(../../MyFonts/Katherine.ttf);
}
@font-face {
  font-family: Majestic;
  src: url(../../MyFonts/Majestic.ttf);
}
@font-face {
  font-family: MonAmour;
  src: url(../../MyFonts/MonAmour.ttf);
}
@font-face {
  font-family: RupsterScript;
  src: url(../../MyFonts/RupsterScript.ttf);
}
@font-face {
  font-family: SlapakScript;
  src: url(../../MyFonts/SlapakScript.otf);
}
h1 {
  font-family: WindiRain;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.header-block {
  min-height: 100vh;
  background: url("../images/background.jpg");
  background-size: cover;
  color: #fff;
  padding: 0;
}
.header-block .container .row .schedule {
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px #000;
  border-radius: 50%;
  padding: 0;
  font-family: serif;
  margin-top: 7%;
}
.header-block .container .row .schedule img {
  width: 80%;
  margin-top: 15%;
  -webkit-filter: contrast(200%);
  -o-filter: contrast(200%);
  -fox-filter: contrast(200%);
  filter: contrast(200%);
}
.header-block .container .row .schedule hr {
  width: 90%;
  border: none;
  height: 2px;
  background-color: #a09545;
}
.header-block .container .row .schedule .date {
  line-height: 85px;
  font-size: 90px;
  font-family: CochinArchaic;
  /*color: #a09545;*/
  color: #fff;
  text-shadow: 2px 0px 6px black;
}
.header-block .container .row .schedule .btn {
  background-color: #7BBCA6;
  box-shadow: 0px 0px 4px black;
  -webkit-transition: 0.5s;
  border: none;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  width: 40%;
  margin-top: 50px;
  padding: 10px 0px;
}
.header-block .container .row .schedule .btn:hover {
  box-shadow: 0px 0px 8px black;
}
.header-block .container .arrow {
  background: rgba(48, 74, 65, 0.2);
  -webkit-transition: 0.3s;
  box-shadow: 0px 0px 5px #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 4%;
  bottom: 10%;
}
.header-block .container .arrow:hover {
  background: rgba(48, 74, 65, 0.9);
}
.header-block .container .arrow a .fa {
  color: #fff;
  font-size: 50px;
  padding: 10%;
}
.container-fluide {
  background: url('../images/leavse.png');
}
.container-fluide .container iframe {
  margin-top: 50px;
  margin-left: 40%;
  width: 48.4%;
  margin: auto;
  box-shadow: 0px 0px 10px #000;
}
.container-fluide .container iframe #document .ytp-chrome-top-buttons {
  display: none;
}
.container-fluide .events {
  padding-top: 50px;
}
.container-fluide .events .row .description {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-fluide .events .row .description:hover ul {
  padding: 10px;
}
.container-fluide .events .row .description ul {
  -webkit-transition: all 0.5s ease-out;
  padding: 5px;
  width: 100%;
}
.container-fluide .events .row .description ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 20px;
}
.container-fluide .events .row .description ul li a {
  font-weight: bold;
}
.container-fluide .events .row .description ul li .fa {
  margin-right: 20px;
  font-size: 20px;
}
.container-fluide .events .left {
  padding: 40px 0px;
  margin-bottom: 30px;
}
.container-fluide .events .left .image {
  padding-left: 40px;
  margin-bottom: 50px;
}
.container-fluide .events .right .image {
  padding-right: 50px;
  margin-bottom: 50px;
}
.main {
  background: url(../images/leavse.png);
  background-size: cover;
}
/*--------Новый код--------*/
